/*
 * This CSS file contains styling specific to the "index.html" or home page.
 */
html {
  height: 100%;
}
body {
  height: 100%;
  padding-bottom: 51px;
}
div .header-center {
  width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#body_container {
  min-height: 100%;
  position: relative;
}
#body {
  padding-bottom: 51px;
}
#footer {
  height: 51px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
