/*
 * Contains styles relating to the DMS Dashboard
 */
.dashboard {

    /*
     * Child or Employee search results
     */
    .result {
        border: 1px solid #000;
        height: 172px;
        position: relative;
        width: 650px;

        #result_image {
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            width: 145px;

            img {
                height: 170px;
            }
        }

        #content {
            position: absolute;
            top: 0;
            left: 165px;
        }
    }
}