@import 'mixins.less';

@image-height: 200px;
@image-width: 165px;

#daycare_logo {
    &:hover {
        cursor: pointer;
    }

    .image {
        svg {
            &:hover {
                path {
                    fill: #5C97BF;
                }
            }
        }
    }

    .text {
        display: inline-block;
        font-family: 'Open Sans', helvetica, arial, sans-serif;
        font-size: 16px;
    }
}
/*
 * Contains styles relating to the DMS Dashboard
 */
.dashboard {

    #active_filters {
        #content_block {

        }

        #filters {
            .active_filter {
                border: 1px solid #CCC;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                padding: 0 30px 0 10px;
                position: relative;
                width: auto;

                &:hover {
                    cursor: pointer;

                    .clear_button {
                        svg {
                            path {
                                fill: #AAA;
                            }
                        }
                    }
                }

                .clear_button {
                    height: 25px;
                    left: 42px;
                    position: absolute;
                    top: 2px;
                    width: 25px;

                    svg {
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }

    #result_container {
        /*
         * Child or Employee search results
         */
        .result {
            .box-shadow(0px 0px 5px #CCC);
            height: 200px;
            margin: 15px 0;
            position: relative;
            width: 650px;

            #left_container {
                float: left;
                height: 200px;
                width: 500px;

                #result_image {
                    background: url('/static/image/placeholder/165x200.png') no-repeat;
                    background-size: @image-width @image-height;
                    float: left;
                    height: @image-height;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: @image-width;

                    @media @retina {
                        background: url('/static/image/placeholder/165x200@2x.png') no-repeat;
                        background-size: @image-width @image-height;
                    }
                }

                #content {
                    font-family: 'Open Sans', helvetica, arial, sans-serif;
                    height: 100%;
                    left: 165px;
                    padding: 5px 15px 15px 20px;
                    position: absolute;
                    top: 0;
                    width: 335px;

                    p {
                        font-weight: 100;

                        &.name {
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }
            }

            #right_container {
                float: right;

                .side_content {
                    border-bottom: 1px solid #DED;
                    font-family: 'Open Sans', helvetica, arial, sans-serif;
                    text-align: center;
                    width: 150px;

                    &:last-child {
                        border-bottom: none;
                    }

                    .content {
                        font-weight: 100;
                    }

                    .top_header {
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                }

                #primary_guardian {
                    height: 67px;
                    line-height: 30px;
                }

                #start_date {
                    height: 67px;
                    line-height: 30px;
                }

                #termination_date {
                    height: 66px;
                    line-height: 30px;
                }
            }
        }
    }

    #search_options {
        height: 50px;

        #search_box {
            position: relative;
            width: 585px;

            input {
                border: 1px solid #CCC;
                font-family: 'Open Sans', helvetica, arial, sans-serif;
                font-size: 20px;
                font-weight: 300;
                height: 46px;
                outline-width: 0;
                padding-left: 10px;
                width: inherit;
            }

            &.has_content {
                input {
                    padding: 0 45px 0 10px;
                }

                #clear_button {
                    display: block;
                }
            }

            #clear_button {
                display: none;
                border-left: 1px solid #CCC;
                height: 45px;
                left: 540px;
                position: absolute;
                top: 1px;
                width: 45px;

                &:hover {
                    cursor: pointer;

                    path {
                        fill: #AAA;
                    }
                }

                svg {
                    height: 45px;
                    width: 45px;
                }
            }
        }

        #sort_and_filter {
            height: 45px;
            left: 675px;
            padding: 0 0 0 20px;
            position: absolute;
            top: 0;

            #filter {
                border: 1px solid #CCC;
                display: inline-block;
                height: inherit;
                width: 45px;

                &:hover {
                    cursor: pointer;
                }

                svg {
                    height: 45px;
                    width: 45px;

                    &:hover {
                        path {
                            fill: #AAA;
                        }
                    }
                }
            }

            #sort {
                .noselect;
                border: 1px solid #CCC;
                display: inline-block;
                height: inherit;
                width: 45px;

                &:hover {
                    cursor: pointer;
                }

                svg {
                    height: 45px;
                    width: 45px;

                    &:hover {
                        path {
                            fill: #AAA;
                        }
                    }
                }

                #icon {
                    height: inherit;
                }

                #options {
                    min-width: 100px;
                    max-width: 250px;

                    .option {
                        border: 1px solid #CCC;
                        border-top: none;
                        display: block;
                        height: 30px;

                        &:first-child {
                            border-top: 1px solid #CCC;
                        }
                    }
                }
            }
        }
    }

}