/**
 * This CSS file is specific to the header found on each page
 */
div.header-center
{
    width: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-height-sm {
    max-height: 45px;
}

div.navbar {
    margin-bottom: 0;
}